body{
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 1400px;
    background-color: #ff1818;
    height: 2000px;
    -ms-flex-item-align: center;
        align-self: center;
    margin: 0px auto;
    padding: 0px auto;
}

.header{
    background-color: aqua;
    height: auto;
    
}

.container-menu{
    height: 85px;
    background-color: antiquewhite;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;

}
.container-logo{
    width: 100%;
    margin: -30px;
    height: inherit;
    text-align: center;
}


.container-imagen{
    height: 350px;
    /* margin-bottom: 20px;  */
}
.container__imagen-fondo{
    height: 350px;
    width: 1400px;
    /* margin-bottom: 20px;  */
}

.nav-list{
    padding: 0.25em 0;
    list-style-type: none;
    text-align: end;
    width: 100%
}

.image-text{
    margin: 0;
    padding: 9% 0;
    text-align: center;
}
.main-menu{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.main-menu__item{
    line-height: 2.6;
    font-size: 1.5em;
}

.main-menu__link{
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    color: #3e3e3e;
}

.main-menu__link:hover{
    text-decoration: underline;
}

/* estilos punto 2 */
.punto-2{
    display: flex;
    background-color: white;
}

.servicio {
    float: left;
    width: 33.33%;
  }
  
  
.servicio-nuevo {
    text-align: center;
}

.servicio-descripcion {
    padding-left: 20px;
    padding-right: 20px;
    font-style: italic;
    text-align: justify;
    
}

.centradoImg {
    width: 90%;
    height: 200px;
    align-items: center;
    border-image: round;
    margin-left: auto;
    margin-right: auto;
    display: block;
}




.punto-3{
    height: 600px;
    background-color: rgb(255, 255, 255);
}

.section-text-punto{
    margin: 0;
    color: rgb(168, 21, 21);
    background: rgb(255, 255, 255);  
    text-align: center;
    font-family: Lucida Bright,Georgia,serif, oblique; 
    font-size:large;
}

.news-section > div:first-child{
    margin-bottom: 5px; 
}

.news{
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 280px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.news > div:first-child{
    margin: 0 6px;
}

.news-datos{
    width: 49%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; 
}

.news-imagen{
    margin: 10px 0;
    padding: 0 30px;
    color: rgb(0, 0, 0);
}

.news-texto{
    color: rgba(20, 20, 20, 0.644);
    text-align: justify;
    width: 49%;
    padding: 1em 0;

}
.news-texto > span.news-url{
    text-align: right;
}

.news-titulo{
    color: #000000;
    font-family:"Times New Roman", Times, serif;
}

.noticia{
    font-style: italic;
}

.url-noticia{
    font-size: 10px;
    float: right;
    color: #ff1818;
}

.url-noticia{
    color: red;
}

.footer{
    height: 220px;
    background-color: gray;
    bottom: 0px;
    margin-top: 100px;
    /* position: fixed; */
    /* width: 1200px; */
}

.section-text{
    margin: 0px;
    padding-top: 50px;
    color: #ffffff;
    background: gray;
    font-weight: bold;

    text-align: center;
}
/*fin punto3*/
.teams-datos{
    width: 267px;
}
.teams-name {
    display: flow-root;
    width: 267px;
    padding-right: 5px;
    padding-left: 5px;
}
.teams-texto{
    color: rgba(20, 20, 20, 0.644);
    text-align: justify;
    padding: 1em 0;
    padding-top: 0px;
}
.teams-imagen{
    text-align: center;
    width: 267px;
    margin: 10px 0;
    color: rgb(0, 0, 0);
}
.teams-list{
    padding-left: 0px;
    text-align: center;
}
.teams-list0{
    list-style: none;
}
